##*
##
##
#忽略所有文件和目录

##
###增加指定目录和下面所有目录
##!/dir1/
##!/dir1/**/
##!/dir2/
##!/dir2/**/
##
###增加指定扩展名文件和Makefile文件
##!*.cpp
##!*.c
##!*.h
##!Makefile
##
###忽略特殊文件，一般是当前目录下的文件(当前目录不能忽略)
##/source.cpp
##/source.h

#*
#!/css
#!/img
#!/input
#!/js/*
#!*.html
#!LICENSE
#!readme.txt
#!.gitignore
back
cmd.lnk
#gulpfile.js
gulpfile.js.back
node_modules
#package.json
#!.sublime-gulp.cache
*.rar


####cnpm install gulp gulp-smushit gulp-stylus poststylus gulp-sourcemaps autoprefixer postcss-pxtorem gulp-rename gulp-base64 browser-sync 
